.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    background-color: $verde;
    border-radius: 1rem;
    margin: 1rem 0;

    &.error{
        padding: .5rem;
        text-align: center;
        color: $blanco;
        font-weight: $bold;
        text-transform: uppercase;
        border-radius: 1rem;
        margin: 1rem 0;
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}